{
  "presets": [
    ["env", {
        "targets": {
            "node": "8.0",
            "browsers": ["last 2 versions"]
        },
    }]
  ],
  "plugins": ["transform-decorators-legacy", "transform-class-properties"]
}
